
<h2>{{doctor.first_name}} {{doctor.second_name}}</h2>
<h3>{{doctor.speciality}}</h3>
<h4>{{doctor.gmc_no}}</h3>
<h4>{{doctor.email}}</h4>

<div>
    <a href="/hmrc/{{doctor.gmc_no}}">Generate HMRC starter form</a>
</div>

<form action="/documents/{{doctor.gmc_no}}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>

<div>
   
    {% for cert in certs %}
        <p>
            <b>{{cert.title}}</b>
            {{cert.exp_date}}
        </p>
    {% endfor %}    
</div>
